mat-card{
    margin:40px;
}

.myclass1{
    font-size: 16px;
    color: limegreen;
    background-color: blueviolet;
    padding: 10px;
}
.myclass2{
    font-size: 20px;
    color: blue;
    background-color: rebeccapurple;
    padding: 10px;
}
.myclass3{
    font-size: 25px;
    color: orange;
    background-color: orangered;
    padding: 20px;
}
.myclass4{
    font-size: 10px;
    color: limegreen;
    background-color: blueviolet;
    padding: 15px;
}